.power-precon {
    background-color: rgb(50,200,50);
}

.power-medium {
    background-color: rgb(100, 150, 50);
}

.power-high {
    background-color: rgb(200, 200, 50);
}

.power-cedh {
    background-color: rgb(200, 100, 50);
}

.power-err {
    background-color: rgb(180, 50, 220);
}

.btn-remove {
    background-color: red;
    color: white;
    border: none;
    border-radius: 30%;
}