.power-casual {
    background-color: rgb(50,200,50);
}

.power-medium {
    background-color: rgb(100, 150, 50);
}

.power-high {
    background-color: rgb(200, 200, 50);
}

.power-comp {
    background-color: rgb(200, 100, 50);
}

.power-err {
    background-color: rgb(180, 50, 220);
}

.btn-remove {
    background-color: red;
    color: white;
    border: none;
    border-radius: 30%;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}

.player-name {
    margin-bottom: 0;
}
.player-container-instance {
    background-color: lightgrey;
}
.listcontainer-inner {
    min-height: 2rem;
}

.listbutton {
    border:none;
}
.blacklistbutton {
    background-color:black;
    color:white;
}
.whitelistbutton {
    background-color:white;
    color:black;
}
.blacklist-container {
    background-color: black;
    color: white;
    border-right: 5px white;
}
.whitelist-container {
    background-color: white;
    color: black;
    border-right: 5px black;
}

#players-container {
    max-height: 20rem;
    overflow-y: scroll;
    overflow-x: clip;
}
